@import 'general';

@import 'fonts';

$gray-color: #565656;
$lightblue: #B0E0E6;

.lato {
    font-family: 'Lato';
}
.red-hat-display {
    font-family: 'Red Hat Display';
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 166%;
    color: $gray-color;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    background-color: rgba(#fff, .7);
    backdrop-filter: blur(4px);
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 70px; //TODO: fix with PP
    }
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
    a {
        display: inline-block;
        position: relative;
        font-size: 0.875rem;
        letter-spacing: 0.2625rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        &::after {
            content: "";
            display: inline-block;
            width: 0;
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 1px;
            background-color: #000;
            transition: all .2s ease;
            transform: translateX(-50%);
        }
        &:hover::after {
            width: calc(100% - 16px);
        }
    }
}

.search-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    svg {
        fill: #454545;
    }
    &:hover {
        fill: #000;
    }
}

main {
    flex-grow: 1;
    padding-top: 100px;
}