:root {
    --var-primary-color: white;
    --var-nav-color: #828282;
    --var-text-color: #070707;
    --var-background-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
     
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

 /* === General settings ===*/
.container {
    width: min(90%, 970px);
    margin: 0 auto;
}

.grey-background {
    background-color: var(--var-background-color);
} 

ul {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}

/* === Navigation === */
.nav-container {
    width: min(99%, 970px);
    margin: 0 auto;
    border-bottom: 1px solid #828282;
}

.nav-section {
    text-align: center;
    padding: 27.5px 0;
}

.nav-section ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 400;
}

.nav-item:hover {
    color: black;
    font-size: 22px;
    transition: all .2s ease-in;
}

.nav-section a {
    text-decoration: none;
}

.nav-item-home {
    color: var(--var-text-color);
}

.nav-item {
    color: var(--var-nav-color);
}

/* === Hero === */
.hero-section {
    margin-bottom: 0;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 50px;
}

.hero-banner {
    width: 100%;
    vertical-align: top
}

/* === About me === */
#about-me {
    margin-top: 0;
}

#about-me h2 {
    padding-top: 100px;
    padding-bottom: 50px;
}
.about-me-text p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

.about-me-text p:last-child {
    padding-bottom: 100px;
}

/* === Skills === */
#skills {
    padding: 100px 0 101px;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills-text {
    text-align: center;
    margin-bottom: 50px;
}

.skills-section li {
    display: inline-block;
    margin-right: 96.5px;
    width: 170px;
    font-size: 14px;
    vertical-align: top;
}

.skills-section li.last {
    margin-right: 0;
}

.skills-info {
    font-size: 0;
}
.skills-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
    aspect-ratio: 1;
}

.skills-title {
    text-align: center;
    color: var(--var-nav-color);
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-bottom: 60px;
    padding: 0 30px; 
}

.skills-section li.last .skills-title {
    margin-bottom: 80px;
}

.skills-rating {
    font-size: 0;
}

.star {
    display: inline-block;
    width: 26px;
    height: 26px;
    min-width: 10px;
    background: url(../assets/images/black-star.png) 50% 50%/26px auto no-repeat;
}

.skills-rating .star:last-child {
    margin-right: 0;
}

.grey {
    opacity: 0.1;
}

/* === Portfolio ===*/
#portfolio .container {
    text-align: center;
    background: var(--var-background-color);
}

#portfolio h2 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.fashion-store-img {
    padding-bottom: 40px;  
}

.reebok-img {
    padding-top: 70px;
    padding-bottom: 40px;
}

.braun-img {
    padding-top: 70px;
    padding-bottom: 40px;
}

.portfolio-item a {
    text-align: center; 
    color: var(--var-text-color); 
}

.portfolio-section {
    padding-bottom: 100px;
}

/*=== Footer ===*/
.contact-section {
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer-container {
    margin: 0 auto;  
    text-align: center;      
}
.footer-container h2 {
    margin-bottom: 20px;
}
.contact-text {
    margin-bottom: 60px;
}

button {
    background: var(--var-text-color);
    color: var(--var-primary-color);
    display: inline-block;
    border: 1px solid #000;
    min-width: 180px;
    text-align: center;
    padding: 10px 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 22px;
    letter-spacing: 1.8px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}

.contact-soc-items ul li {
    display: inline-block;
    padding-top: 30px;
    margin: 0 25px;
}

.contact-end {
    color: var(--var-nav-color);
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 100px;
}
   