* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: #FFF;
}

ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  vertical-align: top;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

/* pt-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans Normal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pt-sans-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pt-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v17-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* francois-one-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Francois One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/francois-one-v21-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* farro-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Farro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/farro-v14-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* staatliches-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/staatliches-v13-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* tourney-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tourney";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/tourney-v13-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  margin-top: 0;
  margin-bottom: 90px;
}

.pt_sans_normal, article p {
  font-family: "PT Sans Normal";
}

.pt_sans_italic {
  font-family: "PT Sans Italic";
}

.pt_sans_bold {
  font-family: "PT Sans Bold";
}

.francois_one, h2 {
  font-family: "Francois One";
}

.farro, h2 sup {
  font-family: "Farro";
}

.staatliches, .navigation ul .item-doc {
  font-family: "Staatliches";
}

.tourney, .navigation ul .item-eng {
  font-family: "Tourney";
}

.navigation {
  height: 80px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navigation ul .item-eng {
  color: #000;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.055rem;
}
.navigation ul .item-doc {
  color: #000;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.04125rem;
}

.navigation img {
  width: 238px;
  height: 54px;
}

h2 {
  color: #000;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  padding-bottom: 40px;
}
h2 sup {
  color: #000;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.075rem;
  padding-top: 0;
  padding-left: 10px;
  text-transform: none;
}

article {
  margin-bottom: 30px;
}
article p {
  color: #000;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 3rem;
  padding-bottom: 40px;
}
article .underline {
  text-decoration-line: underline;
}
article .bg-color {
  background-color: #D8D7DA;
}