// General settings
$primary-color:#3C3C3C;
$secondary-color: #282528;
$hover-color: #18B5DC;

@import 'general';

// Header
.header {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #bdbdbd;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo, .header-box {
        width: 200px;
    }
    .header-box {
        text-align: right;
    }
}

// Main
.menu {
    display: flex;
    justify-content: center;
    gap:  0 30px;
    a {
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $primary-color;
        &:hover {
            color: $hover-color;
        }
    }
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 10px 17px;
    border: 1px solid $primary-color;
    background-color: transparent;
    &:hover {
        color: #fff;
        background-color: $hover-color;
        border-color: $hover-color;
    }
}

.biography-section {
    padding: 150px 0;
}

.main-title {
    text-transform: uppercase;
    font-size: 2.125rem;
    letter-spacing: 0.27625rem;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 40px;
    &::after {
        display: inline-block;
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        background-color: #DDDBDB;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sub-title {
    font-weight: 300;
    max-width: 570px;
    text-align: center;
    margin: 0 auto 54px;
    line-height: 150%;
}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item-top:hover .item-soc {
    opacity: 1;
}

.item-top  {
    position: relative;
    margin-bottom: 20px;
    .item-soc {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $hover-color;
        transition: all .2s ease;
        opacity: 0;
        
    }
}

.item-top img {
    width: 271px;
    height: 270px;
}
.item-bottom{
    padding-left: 1px;
    font-size: 1.125rem;
    .bio-title {
        color: $secondary-color;
        font-weight: 700;
    }
    .position {
        color: #646464;
        font-weight: 300;
    }
}

// Footer
.footer {
    padding: 40px 0;
    background-color: #fff;
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }
    .menu a {
        font-size: 1.125rem;
    }
}

.soc-list {
    display: flex;
    gap: 4px;
    a {
        display: inline-flex;
        width: 42px;
        height: 42px;
        background-color: #5DCBE6;
        justify-content: center;
        align-items: center;
        svg {
            fill: #fff;
            transition: all .2s ease;
        }
        &:hover {
            background-color: #fff;
            svg {
                fill: $hover-color;
            }
        }
    }
}

.footer-social {
    @extend .soc-list;
    gap: 10px;
    a {
        border: 1px solid $hover-color;
        background-color: #fff;
        path {
            fill: $hover-color;
        }
        &:hover {
            background-color: $hover-color;
            path {
                fill: #fff;
            }
        }
    }
}

