* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    font-family: 'Lucida Sans Typewriter', sans-serif;
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: white;
}

/* === Header === */
.container {
    width: min(90% 1000px);
    margin-inline: auto;
    width: 100%;
    border: 25px solid #2B81AC;
    background: #39C;
    font-size: 16px;
    font-weight: 400;
    cursor: url('../assets/cursor.png'), auto;
}

h1 {
    font-size: 1.3125rem;
    font-weight: 400;
    margin: 66px 1081px 40px 135px;
}

h1 .wi {
    font-size: 1.6875rem;
}

/* === Main content === */

ul {
    list-style: none;
}

.white-wrapper {
    margin: 0 135px;
    display: inline-block;
    font-size: 0;
    border: 2px solid white;
}

.cities {
    background-color: white;
}

li {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 400;
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 40px;
    
}

span {
    margin-right: 17px;
    margin-bottom: 19px;
}

.wi {
    font-size: 2.625rem; 
    margin-top: 4px;
    vertical-align: middle;
}

/* Lisbon */
li:nth-child(1) {
    background-color: #fff;
    border: 2px solid #FFF;
    background: #39C;
    width: 50%;
}

/* Paris */
li:nth-child(2) {
    border: 2px solid #FFF;
    background: #3CC;
    width: 25%;
}

/* Belgrade */
li:nth-child(3) {
    border: 2px solid #FFF;
    background: #969;
    width: 25%;
}

/* Venice */
li:nth-child(4) {
    border: 2px solid #FFF;
    background:  #C24747;
    width: 25%;
}

/* Tel-Avive */
li:nth-child(5) {
    border: 2px solid #FFF;
    background: #E2674A;
    width: 25%;
}

/* Cair */
li:nth-child(6) {
    border: 2px solid #FFF;
    background: #FC6;
    width: 25%;
}

/* New-York */
li:nth-child(7) {
    border: 2px solid #FFF;
    background: #9C9;
    width: 25%;
}

/* New-Delhi */
li:nth-child(8) {
    border: 2px solid #FFF;
    background: #699;
    width: 25%;
}

/* San-Francisco */
li:nth-child(9) {
    border: 2px solid #FFF;
    background: #C69;
    width: 50%;
}

/* Tokyo */
li:nth-child(10) {
    border: 2px solid #FFF;
    background:  #396;
    width: 25%;
}

/* Sydney */
li:nth-child(11) {
    border: 2px solid #FFF;
    background: #669;
    width: 100%;
}

.white-wrapper:hover li {
    opacity: 0.5;
}

.white-wrapper li:hover {
    opacity: 1;
    transition: all .1s ease-in;
}

/* === Footer === */
footer p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 37px 754px 119px 137px;
}