@import 'general';

@import 'fonts';

$primary-text-color: #000; 

.delius {
    font-family: 'Delius';
}
.roboto {
    font-family: 'Roboto';
}

.wrap {
    margin-bottom: 120px;
    margin-top: 120px;
}

.title {
    @extend .delius;
    color: $primary-text-color;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.el {
    border-radius: 20px;
}

.blockI-items, .blockII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
    margin-bottom: 120px;
}

// Перероблений варіант
.colspan {
    grid-column: span 2;
}
.rowspan {
    grid-row: span 2;
}

.blockIII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(5, 370px);
    margin-bottom: 120px;
 }

@media screen and (max-width: 500px) {
    .blockI-items, .blockII-items, .blockIII-items {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .el {
        grid-column: span 1;
        grid-row: span 1;
    }
}

// Доповнення по темі Position
.picture {
    position: relative;
    .like-icon {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: #E0E0E0 url(../assets/img/like.svg) top 10px right 10px no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 20px;
        opacity: 0;
    }
    .download-icon {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: rgba(224, 224, 224, 0.50) url(../assets/img/download.svg) top 10px right 10px no-repeat;
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
    }
}

.author, .date {
    @extend .roboto;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}

.author {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}
.date {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.picture:hover {
    transform: scale(1.1);
    transition: all 1s ease;
    opacity: 0.7;
    // Не спрацьовує кастомний курсор
    cursor: url('../assets/img/hand-point-up.svg') auto;
    .like-icon {
        transition: all 1s ease;
        opacity: 1;
    }
    .download-icon {
        transition: all 1s ease;
        opacity: 1;
    }
}

 







