@import 'general';

@import 'fonts';

$primary-text-color: #000; 

.delius {
    font-family: 'Delius';
}
.roboto {
    font-family: 'Roboto';
}

.wrap {
    margin-bottom: 120px;
    margin-top: 120px;
}

.title {
    @extend .delius;
    color: $primary-text-color;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.blockI-items, .blockII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 120px;
}

.colspan {
    grid-column: span 2;
}
.rowspan {
    grid-row: span 2;
}

.blockIII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 370px);
    margin-bottom: 120px;
 }

// Доповнення по темі Position
.picture {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
        img {
            &:hover {
                transform: scale(1.1);
                transition: all .6s ease;
            }
        }
        .like-icon {
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 8px;
            background: #E0E0E0 url(../assets/img/like.svg) top 48% right 52% no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 20px;
            left: 20px;
            opacity: 0;
            &:hover {
                cursor: pointer;
                background-color: #4F4F4F;
            }
        }
        .download-icon {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            background: rgba(224, 224, 224, 0.50) url(../assets/img/download.svg) top 10px right 10px no-repeat;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            &:hover {
                opacity: .7;
                background: rgba(224, 224, 224, 0.50);
            }
        }
}
 
.author, .date {
    @extend .roboto;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}

.author {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}

.date {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.picture::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, 
                #241F24 0%, rgba(91, 91, 91, 0.45) 34.11%, 
                rgba(187, 186, 192, 0.26) 62.5%);
    bottom: 0;
    left: 0;
}

.picture:hover::before {
    content: "";
    display: block;
    border-radius: 20px;
    background:  linear-gradient(0deg, 
                #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, 
                rgba(187, 186, 192, 0.00) 12.29%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}


@media screen and (max-width: 500px) {
    .blockI-items, .blockII-items, .blockIII-items {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .el {
        grid-column: span 1;
        grid-row: span 1;
    }
}

// === Animation ===
// Перший варіант - підключений локально через css та js, другий нижче закоментований

// .colspan {
//    animation: colanim .8s linear 2s 1;
// }

// @keyframes colanim {
//     from {
//         rotate: 0deg;
//     }
//     to {
//         rotate: 15deg;
//     }
// }

// .rowspan {
//     animation: rowanim .8s linear 2s 1;
// }
// @keyframes rowanim {
//         0% {
//             transform: scale(1) translateX(100px);
//         }
//         50% {
//             transform: scale(1.1) translateX(400px);
//         }
//         100% {
//              transform: scale(1) translateX(100px);
//         }
// }