@import 'general.scss';

$primary-text-color: #000; 

.wrap {
    margin-bottom: 120px;
    margin-top: 120px;
}

.title {
    color:$primary-text-color;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.el {
    border-radius: 20px;
}

.blockI-items, .blockII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 370px);
    grid-template-rows: repeat(3, 370px);
    margin-bottom: 120px;
}

.el-1, .el-5, .el-7 {
grid-column: 1 / span 1;
}

.el-3, .el-11 {
grid-column: 1 / span 2;
}

.el-2, .el-6, .el-8 {
grid-column: 2 / span 2;
}

.el-4, .el-12 {
grid-column: 3 / span 1;
}

.el-9 {
grid-area: 2 / 1 / 4 / 3;
}

.el-10 {
grid-row: 2 / span 2;
}

.blockIII-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 370px);
    grid-template-rows: repeat(4, 370px);
    margin-bottom: 120px;
    .el-13, .el-16 {
        grid-column: 1 / span 1;
    }
    .el-15, .el-22 {
        grid-column: 3 / span 1;
    }
    .el-20 {
        grid-column: 2 / span 2;
    }
    .el-21 {
        grid-column: 1 / span 2;
    }
    .el-14 {
        grid-area: 1 / 2 / 3 / 3;
    }
    .el-17 {
        grid-row: 2 / span 2;
    }
    .el-18 {
        grid-area: 3 / 1 / 5 / 2;
    }
    .el-19 {
        grid-column: 2 / span 1;
    }
}

@media screen and (max-width: 500px) {
    .blockI-items, .blockII-items, .blockIII-items {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .el {
        grid-column: span 1;
        grid-row: span 1;
    }
}


 







