* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Delius Unicase", cursive;
  background: #FFF;
}

ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  vertical-align: top;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

/* delius-unicase-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Delius";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/delius-unicase-v28-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v30-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.delius, .title {
  font-family: "Delius";
}

.roboto, .author, .date {
  font-family: "Roboto";
}

.wrap {
  margin-bottom: 120px;
  margin-top: 120px;
}

.title {
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
  padding-bottom: 80px;
}

.el {
  border-radius: 20px;
}

.blockI-items, .blockII-items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 370px);
  margin-bottom: 120px;
}

.colspan {
  grid-column: span 2;
}

.rowspan {
  grid-row: span 2;
}

.blockIII-items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(5, 370px);
  margin-bottom: 120px;
}

@media screen and (max-width: 500px) {
  .blockI-items, .blockII-items, .blockIII-items {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .el {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.picture {
  position: relative;
}
.picture .like-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #E0E0E0 url(../assets/img/like.svg) top 10px right 10px no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
}
.picture .download-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(224, 224, 224, 0.5) url(../assets/img/download.svg) top 10px right 10px no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
}

.author, .date {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
}

.author {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}

.date {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.picture:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  opacity: 0.7;
  cursor: url("../assets/img/hand-point-up.svg") auto;
}
.picture:hover .like-icon {
  transition: all 1s ease;
  opacity: 1;
}
.picture:hover .download-icon {
  transition: all 1s ease;
  opacity: 1;
}